        <img id='logo' name='logo' src='./images/placeholderLogo.png'/>

        <section>
            <h3>Sign Up Today!</h3>
            <div id="email">
              <form>
                <input ng-model='bCtl.data' id="emailInput" type="text" placeholder="  Enter Email">
                <button ng-click="bCtl.signUp()" id="emailSubmit" type="submit">Sign Up</button>
              </form>
              <div id="alert"><p>{{ bCtl.message }}</p></div>
            </div>
        </section>
        <br/>
        <br/>
