.container-main {
  background-image: url("/images/coffee_outside.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .container-top {
    display: flex;
    flex-direction: row;
    height: 92.9vh;
    margin-left: 15px;
    .container-left {
      flex: 0 0 auto;
      flex-direction: column;
      align-items: center;
      display: flex;
      background-image: url("/images/banner.gif");
      background-size:cover;


      @include breakpoint($bp-768) {
        flex: 0 0 200px;
        height: 50vh;
        justify-content: stretch;
      }

      coffee-menu-button a {
        position:relative;
        left:20px;
        text-decoration:none;
      }

      .social-media-links {
        position:relative;
        padding: 5px;
        left:5px;
      }

      .container-menu {
        height: 150px;
        width: 100%;

        
        @include breakpoint($bp-768) {
          height: 50vh;
        }
      }
    }

    .container-right {
      flex: 0 0 auto;

      @include breakpoint($bp-768) {
        flex: 1 0 auto;
        height: 93vh;
        overflow-y: scroll;
      }
    }
  }

  .container-footer {
    flex: 0 0 8vh;
    background-color: #e3d6c5;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding:5px 0 0 0;
  }
}
