.container-main {
  background-image: url("/images/coffee_outside.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .container-top {
    display: flex;
    flex-direction: row;
    height: 94.8vh;
    .container-left {
      flex: 0 0 auto;
      flex-direction: column;
      align-items: center;
      display: flex;

      @include breakpoint($bp-768) {
        flex: 0 0 200px;
        height: 50vh;
        justify-content: stretch;
      }

      .container-menu {
        height: 150px;
        width: 100%;
        background-color: #31b0d5;

        @include breakpoint($bp-768) {
          height: 50vh;
        }
      }
    }

    .container-right {
      flex: 0 0 auto;

      @include breakpoint($bp-768) {
        flex: 1 0 auto;
        height: 93vh;
        overflow-y: scroll;
      }
    }
  }

  .container-footer {
    flex: 0 0 5vh;
    background-color: #B99967;
  }
}
