.container-main {
  background-image: url("/images/coffee_outside.jpg");
  position: fixed;
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: 100%;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  z-index:-1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include breakpoint($bp-768) {
    flex-direction: row;
  }

  .container-left {
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;

    @include breakpoint($bp-768){
      flex: 0 0 200px;
      height: 100vh;
      justify-content: stretch;
    }

    .container-menu {
      height: 80vh;
      width: 100%;
      background-color: #31b0d5;
    }

    .container-footer {
      height: 20vh;
      width: 100%;
      background-color: limegreen;
    }
  }

  .container-right {
    flex: 0 0 auto;

    @include breakpoint($bp-768) {
      flex: 1 0 auto;

    }
  }
}
